*$py.class
*.cover
*.crt
*.py,cover
*.py[cod]
.cache
.coverage
.coverage.*
.dmypy.json
.env*
.hypothesis/
.mypy_cache/
.nox/
.pytest_cache/
.python-version
.tox/
.venv
.web
ENV/
__pycache__/
auth.py
cover/
coverage.xml
dmypy.json
env.bak/
env/
htmlcov/
private
